<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Price Predictor</title>
    <style>
        .container {
            max-width: 60%;
            background-color: black;
            padding: 34px;
            margin: auto;
            margin-top: 3.5cm;
        }

        .container h3,
        h1 {
            text-align: center;
        }

        .container form {
            text-align: center;
            margin: 11px;
        }

        .container input {
            width: 400px;
            margin: 8px;
        }
    </style>
</head>

<body bgcolor="light-yellow">
    <div class="container">
        <h1 style="color: aliceblue;">STOCK PRICE PREDICTOR</h1><br>
        <form action="predict" method="POST">
            {% csrf_token %}
            <label for="cars">Please select a stock to predict:</label><br>
            <select name="stock_name" id="stock_name" style="height:1cm; width: 18cm">
                <option value="TCS">TCS</option>
                <option value="TECHM">TECHM</option>
                <option value="SBIN">SBIN</option>
                <option value="RELIANCE">Reliance</option>
                <option value="LT">LT</option>
                <option value="INDUSINDBK">INDUSINDBK</option>
                <option value="ICICIBANK">ICICIBANK</option>
                <option value="HDFCBANK">HDFCBANK</option>
                <option value="HCLTECH">HCLTECH</option>
                <option value="BHARATIARTL">BHARATIARTL</option>
            </select>
            <br><br>
        <button style="margin-top: 3%; height: 1cm; width: 3cm">Predict</button>
        </form>
    </div>
</body>

</html>