<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prediction</title>
    <style>
        .image {
            margin-left: 23%;
            margin-top: 4%;
            width: 800px;
            height: 400px;
            border: 10px solid rgb(110, 106, 106);
        }
        div {
            text-align: center;
            color: white;
        } 
    </style>
</head>
<body style="background-color: black;">
    <h1 style="text-align:center; color: white">PREDICTION</h1>
    {% block includes %}
    <div class="image">
        {% if chart1 %}
            <img src="data:image/png;base64, {{chart1|safe}}">
        {% endif %}
    </div>
    <div class="image">
        {% if chart2 %}
        <img src="data:image/png;base64, {{chart2|safe}}">
        {% endif %}
    </div>
    <div>
    <h2>Stock Name: {{ stock_name }}</h2>
    <h2>Mean Squared Error: {{ mean_squared_error }}</h2>
    </div>
    {% endblock includes %}
</body>
</html>